.btn-effect {
    height: 55px;
    width: 115px;
    border-width: 5px;
    border-image: linear-gradient(90deg, rgba(25, 123, 255, 0) 0%, rgba(25, 123, 255, 1) 100%) 1;
}

.header-box .navbar-nav a {
    font-weight: 400;
    color: #fff !important;
}

.header-box-2 {
    background-color: #197BFF;
}

@media screen and (max-width: 576px) {
    .btn-effect {
        border-image: linear-gradient(90deg, #0152cb 10%, #a3c8ff 100%) 1;
        border-radius: 4px;
    }
}